<button
  class="add-user-btn"
  mat-fab
  aria-label="Add icon"
  matTooltip="add user"
  matTooltipPosition="above"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card appearance="outlined">
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>

      <tr>
        <td>asdasd</td>
        <td>asdasd</td>
        <td>asdasd</td>
      </tr>
    </table>
  </mat-card-content></mat-card
>
